@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

*{
	box-sizing: border-box;
	transition: all .4s ease-in-out;
	text-decoration: none;
}
html{
	font-size: 10px;
	height: 100%;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 1.8rem;
	color: #303030;
	background-color: #eeeeee;
	min-height: 100%;
}

.container{
    margin:0 auto;
    max-width: 1230px;
    &--flex{	
    	display: flex;
    	justify-content: space-between;
    }
    &--white{
    	background-color: #fff;
    }
}

.nav ul {
    	list-style-type: none;
    	width: 500px;
    	li{
    		display: inline-block;
    		padding: 60px 30px ;
    	}
		a{
			text-decoration: none;
			font-size: 1.8rem;
			color: #303030;
		}

}

.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a:active{
	color: #710202;
}

.logo{
	padding: 50px 0;
	font-size: 4.8rem;
	color: #303030;
	font-weight: 400;
}


.m--top{
	margin-top: 80px;
}
.text{
	width: 49%;
	text-align: right;
	h1{
		font-size: 15rem;
		margin: 0;
		text-transform: uppercase;
		font-weight: 900;
		color: #303030;
	}
	p{
		font-family: 'Roboto', sans-serif;
		font-size: 2.4rem;
	}
	a{
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
		color: #cb1414;
		font-weight: bold;
	}
}
.image{
	margin-right: 100px;
}



.section{
	text-align: center;
	&--dots{
	ul li{
		display: inline-block;
		margin: 5px;
	a{
		display: inline-block;
		width: 10px;
    	height: 10px;
    	border-radius: 50%;
    	background-color: #303030;
    	&.active,
		&:hover,
		&:focus{
    		background: #cb1414;
			}
		}
	}
	}
}


.about{
	padding: 120px 0 80px 0;
	text-align: center;
	h2{
		font-size: 4.8rem;
		font-weight: 800;
	}
}

.item{
    display: inline-block;
    font-size: 1.6rem;
    width: 30%;
    height: 305px;
    margin: 1.6%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.items{
    font-size: 0;
    padding: 20px 0;
}
.item--wide{
    width: 63%;
}

.item__img,
.item__overlay{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.item__overlay{
    display: inline-block;
    background-color:rgba(225, 0, 17, .9);
    text-decoration: none;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all .8s ease-in-out;
}
.item:hover .item__overlay{
    opacity: 1;
}
.item__info{
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-80%,-10%)
}
.item__title{
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    max-height: 11rem;
    line-height: 1;
    border-bottom: 2px solid #fff;
    text-align: left;
}
.email{
	margin-top: 50px;
}
.input{
		border:2px solid #eeeeee;
		padding:15px;
		margin: 0;
		width: 25%;
		position: relative;
		background-color: #fff;
		border-radius: 15px 0 0 15px;
		outline: none;
}
.submit{
		border:2px solid #eeeeee;
		font-size: 1.8rem;
		font-weight: bold;
		margin: 0;
		padding: 15px;
		width: 10%;
		position: relative;
		background-color: #E10011;
		border-radius: 0 20px 20px 0;
		outline: none;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			transform:scale(1.1);
			transition: .2s ease-out;
		}
}
.socials{
        padding: 0;
		text-align: center;
        li{
        	margin: 0 10px;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            background-color: #fff;
            a{
                font-size: 3rem;
                vertical-align: middle;
                display: inline-block;
                line-height: 50px;
                
                width: 50px;
                height: 50px;
                color: #ccc;
                &:hover,
                &:focus,
                &:active{
                	transform:scale(1.1);
					transition: .2s ease-out;
                }

            }
        }
    }
.end{
	display: block;
	margin-bottom: 20px;
	text-align: center;
	a{
		color:#E10011 ;
	}
}
